body
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
}
a {
	text-decoration: none;
	color: #06cf06;
	font-family: sans-serif;
	font-size: 40px;
	border: 3px solid #06cf06;
	padding: 40px 80px;
	position: relative;
	transition: all 1s;
	overflow: hidden;
}

a:before {
	content: '✔️ Dia 29';
	color: #035503;
	background-color: #52995df6;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	transform: translateY(-100%);
	transition:all .5s;
}

a:hover:before {
	transform: translateY(0);
}